body{
    font-family: "manrope", sans-serif;
    font-optical-sizing: auto;
    font-style:normal ;
    
}
table{
    margin: auto;
    background-color: pink;
    border: black;
}

h1{
    text-align: center;
}

th {
    background-color: rgb(255, 0, 106);
    text-align: center;
}
